// bgHome.js elements created @ z-indexes of 0-101
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#glcanvas {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

#fullpage {
    position: absolute;
    z-index: 12;
}