body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #FEFEFA;
}

#glcanvas {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

#fullpage {
  position: absolute;
  z-index: 2;
  animation: fullpageIn 7s forwards;
  -webkit-animation: fullpageIn 7s forwards;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  padding: 0px;
  list-style-type: none;
}

.menu-right-container {
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 100;
  left: 25%;
  padding: 0;
  margin: 0;
  /* border: solid yellow 1px; */
  display: inline;
}

.menu-left-container {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 100;
  right: 25%;
  padding: 0;
  margin: 0;
  /* border: solid yellow 1px; */
  display: inline;
}

.menu-bottomleft-container {
  position: fixed;
  bottom: 38px;
  left: 40px;
  z-index: 100;
  right: 25%;
  padding: 0;
  margin: 0;
  /* border: solid yellow 1px; */
  display: inline;
}

.menu-left {
  float: left;
  padding: 0px;
  margin: 0px;
}

.menu-right {
  float: right;
  padding: 0px;
  margin: 0px;
}

.menu-bottomleft {
  float: left;
  padding: 0px;
  margin: 0px;
}

.menu-left li {
  display: inline;
  font-size: 14px;
  color: #FEFEFA;
  opacity: 0.5;
  padding-right: 14px;
  padding-top: 0px;
  transition: all 0.4s ease-in-out;
}

.menu-right li {
  display: inline;
  font-size: 14px;
  color: #FEFEFA;
  opacity: 0.5;
  padding-left: 14px;
  padding-top: 0px;
  transition: all 0.4s ease-in-out;
}

.menu-bottomleft li {
  display: inline;
  font-size: 22px;
  color: #FEFEFA;
  opacity: 0.5;
  padding-right: 15px;
  transition: all 0.4s ease-in-out;
}

.menu-bottomleft li:hover {
  opacity: 1.0;
}

#menu li.active {
  color: #FEFEFA;
  opacity: 1.0;
}

#menu li:hover {
  color: #FEFEFA;
  opacity: 1.0;
}

@keyframes fullpageIn {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fullpageIn {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.section {
  display: flex;
  position: relative;
  /* border: solid yellow 1px; */
}

.page {
  margin-left: 50px;
  height: calc(100% - 100px);
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 1px dashed blue; */
}

h1 {
  margin-left: 40px;
  margin-right: 40px;
}

h2 {
  margin-left: 40px;
  margin-right: 40px;
}

h2 a {
  opacity: 0.5;
  transition: all 0.4s ease-in-out;
}

h2 a:hover {
  opacity: 1;
}

h3 {
  margin-left: 40px;
  margin-right: 40px;
}

h4 {
  margin-left: 40px;
  margin-right: 40px;
}

p {
  margin-left: 40px;
  margin-right: 40px;
}

p a {
  opacity: 0.5;
  transition: all 0.4s ease-in-out;
}

p a:hover {
  opacity: 1;
}

#section0 {
  opacity: 0;
  -webkit-transition: all 550ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition: all 550ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition: all 550ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 550ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

#section0.active {
  opacity: 1;
}

#section1 {
  opacity: 0;
  -webkit-transition: all 550ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition: all 550ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition: all 550ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 550ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

#section1.active {
  opacity: 1;
}

#section2 {
  opacity: 0;
  -webkit-transition: all 550ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition: all 550ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition: all 550ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 550ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

#section2.active {
  opacity: 1;
}

#section3 {
  opacity: 0;
  -webkit-transition: all 550ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition: all 550ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition: all 550ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 550ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

#section3.active {
  opacity: 1;
}

#list {
  list-style: circle;
  margin-left: 66px;
  margin-right: 40px;
}

#list * {
  padding-bottom: 10px;
}

.page a {
  opacity: 0.5;
  transition: all 0.4s ease-in-out;
}

.page a:hover {
  opacity: 1;
}